@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 191, 64%, 21%;
    --foreground: 165, 5%, 100%;

    --accent: 0, 0%, 87%;

    --down-background: 351, 95%, 71%;
    --down-foreground: 165, 5%, 100%;
    --up-background: 165, 55%, 97%;
    --up-foreground: 165, 60%, 15%;

    /* Base border radius */
    --radius: 0.5rem;

    --login-img: "/images/loginbackground.jpg";
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
