.cls-1 {
	fill: #a23128;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24,
.cls-25,
.cls-26,
.cls-27,
.cls-28,
.cls-29,
.cls-30,
.cls-31,
.cls-32,
.cls-33,
.cls-34,
.cls-35,
.cls-36,
.cls-37,
.cls-38,
.cls-39,
.cls-40,
.cls-41,
.cls-42,
.cls-43,
.cls-44,
.cls-45,
.cls-46,
.cls-47,
.cls-48 {
	stroke-width: 0px;
}

.cls-2 {
	fill: #b6eee3;
}

.cls-3 {
	fill: #143349;
}

.cls-4 {
	fill: url(#linear-gradient-12);
}

.cls-5 {
	fill: url(#linear-gradient);
}

.cls-6 {
	fill: #fec737;
}

.cls-7 {
	fill: #185762;
}

.cls-8 {
	fill: url(#linear-gradient-6);
}

.cls-9 {
	fill: #9b8581;
}

.cls-10 {
	fill: #138374;
}

.cls-11 {
	fill: #403469;
}

.cls-12 {
	fill: #3f2d3f;
}

.cls-13 {
	fill: #0e1230;
}

.cls-14 {
	fill: #ec4631;
}

.cls-15 {
	fill: url(#linear-gradient-15);
}

.cls-16 {
	fill: #d9d9d9;
}

.cls-17 {
	fill: url(#linear-gradient-11);
}

.cls-18 {
	fill: url(#linear-gradient-5);
}

.cls-19 {
	fill: #4b3d4d;
}

.cls-20 {
	fill: #902339;
}

.cls-21 {
	fill: #112538;
}

.cls-22 {
	fill: url(#linear-gradient-13);
}

.cls-23 {
	fill: #ed7831;
}

.cls-24 {
	fill: #faca79;
}

.cls-25 {
	fill: url(#linear-gradient-14);
}

.cls-26 {
	fill: url(#linear-gradient-2);
}

.cls-27 {
	fill: #455e9a;
}

.cls-28 {
	fill: #f36933;
}

.cls-29 {
	fill: #faa842;
}

.cls-30 {
	fill: url(#linear-gradient-7);
}

.cls-31 {
	fill: #fddfab;
}

.cls-32 {
	fill: url(#linear-gradient-3);
}

.cls-33 {
	fill: #fb8f34;
}

.cls-34 {
	fill: url(#linear-gradient-9);
}

.cls-35 {
	fill: #4c80b4;
}

.cls-36 {
	fill: #b29e95;
}

.cls-37 {
	fill: url(#linear-gradient-8);
}

.cls-38 {
	fill: #ae2835;
}

.cls-39 {
	fill: #3697b7;
}

.cls-40 {
	fill: #51e5c9;
}

.cls-41 {
	fill: #0f0f3d;
}

.cls-42 {
	fill: #f15b2c;
}

.cls-43 {
	fill: #133d4c;
}

.cls-44 {
	fill: url(#linear-gradient-10);
}

.cls-45 {
	fill: #2a204d;
}

.cls-46 {
	fill: url(#linear-gradient-4);
}

.cls-47 {
	fill: #fefefe;
}

.cls-48 {
	fill: #5c1937;
}
